/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  justify-content: center;
  align-items: center;
  background-image: url(cool-lungs-05-19-735x413-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  margin-top: 110px;
  position: relative;
  width: 400px;
  height: 600px;
  padding: 40px;
  background-color: #11284d;
  border-radius: 20px;
  box-shadow: 0 0 50px #0ef;
  overflow: hidden;
  margin-right: 1150px;
}

.header h2 {
  text-align: center;
  color: white;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group button.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.input-group button.btn:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 15px;
  color: white;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  .input-group {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .header h2 {
    font-size: 24px;
  }

  .input-group label {
    font-size: 14px;
  }

  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .input-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}